# Gitignore settings for ESPHome
# This is an example and may include too much for your use-case.
# You can modify this file to suit your needs.
/.esphome/
/secrets.yaml

# Pliki binarne i artefakty kompilacji
build/
sdkconfig
sdkconfig.old

# Komponenty zarządzane (zostaną pobrane automatycznie przy kompilacji)
managed_components/
dependencies.lock

# Pliki systemowe i VS Code
.vscode/
.DS_Store